@import "tailwindcss";
@import "tw-animate-css";

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter-VariableFont_opsz,wght.ttf") format("truetype");
  font-weight: 100 900;
  font-stretch: 75% 125%;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter-Italic-VariableFont_opsz,wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-stretch: 75% 125%;
  font-style: italic;
}

@custom-variant dark (&:is(.dark *));

@theme {
  --font-sans: "Inter", sans-serif;

  --gap-xs: var(--spacing);
  --gap-sm: calc(var(--spacing) * 2);
  --gap-md: calc(var(--spacing) * 4);
  --gap-lg: calc(var(--spacing) * 6);

  --blur-xs: 2px;
  --blur-sm: 3px;
  --blur-md: 4px;
  --blur-lg: 5px;

  --inset-shadow-full: inset 0 0 8px rgb(0 0 0/0.25);

  --text-xxs: 0.6125rem;
  --text-xxs--line-height: calc(1 / 0.6125);

  --animate-gradient: gradient 10s ease-in-out infinite;

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  --color-content: white;
  --color-content-fg: var(--color-neutral-800);

  --color-neutral: var(--color-neutral-200);
  --color-neutral-100: var(--color-neutral-300);

  --color-success: var(--color-green-600);
  --color-info: var(--color-sky-600);
  --color-warning: var(--color-yellow-500);
  --color-warning-100: var(--color-orange-400);
  --color-error: var(--color-red-500);

  --color-muted: var(--color-neutral-700);

  /* ------------------------------- New Colors ------------------------------- */
  --color-text: var(--color-neutral-800);

  --color-text-secondary: var(--color-neutral-500);
}

@layer themes {
  .dark {
    --color-content: var(--color-neutral-800);
    --color-content-fg: white;

    --color-neutral: var(--color-neutral-700);
    --color-neutral-100: var(--color-neutral-600);

    --color-success: var(--color-green-600);
    --color-info: var(--color-sky-500);
    --color-warning: var(--color-yellow-500);
    --color-warning-100: var(--color-orange-400);
    --color-error: var(--color-red-500);

    --color-muted: var(--color-neutral-400);

    /* ------------------------------- New Colors ------------------------------- */
    --color-text: var(--color-white);

    --color-text-secondary: var(--color-neutral-400);
  }
}

@layer utilities {
  /* #region Focus handling */
  .focus {
    /* Can not use `transition-all` as it interferes with Motion */
    @apply ring-content-fg/75 ring-offset-content outline-none;
    transition-property: box-shadow, background-color, color, border-color;
    transition-timing-function: var(--default-transition-timing-function);
    transition-duration: var(--default-transition-duration);
  }

  .focus-visible {
    /* Focus only for keyboard navigation, e.g., buttons */
    @apply data-[focus-visible]:ring-1 data-[focus-visible]:ring-offset-1;
  }

  .focused {
    /* Focus required on usage, e.g., text fields */
    @apply data-[focused]:ring-1 data-[focused]:ring-offset-1;
  }

  .focus-within {
    /* Focus is within the container, focus applied to parent. Think wrapper around input field */
    @apply data-[focus-within]:ring-1 data-[focus-within]:ring-offset-1;
  }

  .group-focus-visible {
    /* Focus determined from a group, rather than an individual element */
    @apply group-data-[focus-visible]:ring-1 group-data-[focus-visible]:ring-offset-1;
  }

  /* #endregion */

  /* #region Background Gradients */
  .bg-gradient-gray {
    @apply bg-linear-0 from-[#98989D] from-20% to-[#C0C0C4];
  }
  .bg-gradient-blue {
    @apply bg-linear-0 from-[#3B83F7] from-20% to-[#5DA3F8];
  }
  .bg-gradient-red {
    @apply bg-linear-0 from-[#EB5545] from-20% to-[#EE8176];
  }
  /* #endregion */
}

/* #region Orbit Cursor */

html,
body {
  overscroll-behavior: none;
}

.os-theme-orbit-cursor {
  --os-size: 10px;
  --os-padding-perpendicular: 2px;
  --os-padding-axis: 2px;
  --os-track-border-radius: 10px;
  --os-handle-interactive-area-offset: 4px;
  --os-handle-border-radius: 10px;
  --os-handle-bg: var(--color-muted);
  --os-handle-bg-hover: var(--color-content-fg);
  --os-handle-bg-active: var(--color-content-fg);
}
